name: Build and deploy Node.js app to Azure Web App - MouvementExpress

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Upload production build
        uses: actions/upload-artifact@v4
        with:
          name: node-app-build
          path: |
            dist/
            package.json
            package-lock.json

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: node-app-build
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3C70A7FE3C6F41FE9C3D795D12CE1C2C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_70007F895F154953B1A29E028524E89F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_E777D1A783564040BE1587F53A0FF602 }}

      - name: Install dependencies on Azure
        run: |
          npm install --production

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'MouvementExpress'
          slot-name: 'Production'
          package: .
